@import "tailwindcss";
html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Ensures main content pushes footer down */
}

footer {
  width: 100%;
  margin-top: auto; /* Pushes footer to the bottom */
  background-color: #262626; /* Matches your image's bg */
}